http://tank.apiinno.com/7_8_cancel_order.html


1. หน้าโฮมเพจ
http://tank.apiinno.com

2. หน้าสมัครสมาชิก
http://tank.apiinno.com/pages-signup.html

3. รูปแบบยืนยันสมัครสมาชิก+ผลยืนยัน
http://tank.apiinno.com/pages-confirmation.html

3.1 อีเมล์ยืนยันสมัครสมาชิก
http://tank.apiinno.com/email-format/email-verification-01/Confirmation-Verification.html

4. หน้ารีเซตรหัสผ่าน
http://tank.apiinno.com/pages-forgot-password.html

4.1 อีเมลยืนยันรีเซตรหัสผ่าน
http://tank.apiinno.com/email-format/email-password-reset/password-reset.html

4.2 หน้าตั้งรหัสผ่านใหม่
http://tank.apiinno.com/pages-confirm-password.html

5. หน้าสมาชิกเข้าสู่ระบบ
http://tank.apiinno.com/pages-login.html

6. หน้าโปรไฟล์สมาชิก
http://tank.apiinno.com/my-account.html

6.1  ข้อมูลส่วนตัว
http://tank.apiinno.com/personal-data.html

6.2 สมุดที่อยู่
http://tank.apiinno.com/address-book.html

6.2.1 เพิ่ม /แก้ไข สมุดที่อยู่
http://tank.apiinno.com/create-address-book.html

6.3  คูปองส่วนลด
http://tank.apiinno.com/coupon-data.html

6.4 รายการสั่งซื้อ 
http://tank.apiinno.com/order-data.html

6.4.1 รายละเอียด รายการสั่งซื้อ 
http://tank.apiinno.com/order-detail.html

6.5 หน้าเลือกสินค้าที่ต้องการยกเลิก
http://tank.apiinno.com/7_8_cancel_order.html

6.5.1 ยืนยันยกเลิกสินค้า
http://tank.apiinno.com/7_8_1_cancel_order_confirmation.html

6.5.2 อีเมลยืนยันการเลิกสินค้า
http://tank.apiinno.com/email_7_8.html

6.5.3 อีเมลยืนยันการคืนเงิน
http://http://tank.apiinno.com/email_7_8_1-refund.html

6.6 รายการยกเลิกสินค้า
http://tank.apiinno.com/cancelled-order.html

6.7  หน้าสินค้าที่สมาชิกชอบ
http://tank.apiinno.com/wishlist-data.html

7. หน้ายี่ห้อแบรนด์สินค้า
http://tank.apiinno.com/brand.html

8. หน้ารายการ - สินค้า
http://tank.apiinno.com/page-shop.html

9. หน้ารายละเอียดสินค้า
http://tank.apiinno.com/single-product_1.html

10. หน้ารายละเอียดสินค้า 360
http://tank.apiinno.com/single-product_360.html

11.  หน้าผลลัพธ์ค้นหาสินค้า
http://tank.apiinno.com/Shop-search-result.html

12. หน้าโปรโมชันสินค้า
http://tank.apiinno.com/promotion.html

12.1 หน้ารายละเอียดโปรโมชันสินค้า Text+image
http://tank.apiinno.com/promotion-detail.html

12.2 หน้ารายละเอียดโปรโมชันสินค้า  Vdo+Text+Image
http://tank.apiinno.com/promotion-detail-vidio.html

13.หน้าสินค้าที่ชอบ
http://tank.apiinno.com/wishlist.html

14. หน้าตระกร้าสินค้า
http://tank.apiinno.com/my-cart.html

15. รูปแบบคำสั่งซื้อสินค้า - ก่อนชำระเงิน   สำหรับผู้ไม่ใช่สมาชิค
http://tank.apiinno.com/checkout.html

16. รูปแบบคำสั่งซื้อสินค้า - ก่อนชำระเงิน   สำหรับสมาชิค
http://tank.apiinno.com/checkout_7_4.html

16.1 อีเมลก่อนชำระเงิน แจ้งชำระ
http://tank.apiinno.com/email_7_4.html

17. คำสั่งซื้อสินค้า - ชำระเงิน
http://tank.apiinno.com/checkout-payment.html

17.1 อีเมล คำสั่งซื้อสินค้า ใบเสร็จ
http://tank.apiinno.com/email_7_5.html

17.2 อีเมล แจ้งการจัดส่งสินค้า
http://tank.apiinno.com/email_7_7.html

18 รูปแบบ คำสั่งซื้อสินค้า - หลังชำระเงิน       
http://tank.apiinno.com/thankyou_7_5.html

19. อีเมล์โปรโมชัน
http://tank.apiinno.com/email_7_6.html

20. หน้า popup แจ้งข่าวสาร 3 รูปแบบ
http://tank.apiinno.com/notification-modal.html

21. หน้ารายการ - บทความ
http://tank.apiinno.com/blog.html

21.1 หน้ารายละเอียด - บทความ  Text+image
http://tank.apiinno.com/post-article.html

21.2  หน้ารายละเอียด - บทความ  Vdo+Text+Image
http://tank.apiinno.com/post-video.html

22. ติดต่อเรา
http://tank.apiinno.com/contact.html

23. คําถามท่ีพบบ่อย
http://tank.apiinno.com/faq.html

24. สาขาของเรา
http://tank.apiinno.com/store.html

25.รูปแบบแจ้งเตือนข่าวสาร

http://tank.apiinno.com/email-format/email-news/notification.html


