<!--===================================================-->
    <!--|            SESSION - 1 - NAVBAR 01              |-->
    <!--===================================================-->
    <div class="navbar-1">
      <a href="#" class="menu-1"><strong style="text-decoration: underline!important;">FREE 2-DAY</strong> on orders over $49</a>
      <a href="#" class="menu-2"><strong style="text-decoration: underline!important;">30% BACK</strong> in REWARD DOLLARS Details</a>
      <a href="#" class="menu-3"><strong style="text-decoration: underline!important;">THE NORTH FACE 25% OFF</strong> Select Styles</a>
  </div>

  <!--===================================================-->
  <!--|            SESSION - 2 - NAVBAR 02              |-->
  <!--===================================================-->
  <div id="header" class="sticky-top">
      <!--large-->
      <nav id="large" class="navbar navbar-expand-lg navbar-light bg-white p-3 px-5">
          <div class="navbar-collapse w-100 order-1 order-md-0 ">
              <a href="index.html"> <img id="logo" class="d-block" src="assets/bower_components/index/img/tank-store.png" width="220"></a>
          </div>
          <div class="mx-auto order-0 w-100">
              <div class="input-group" id="search-1">
                  <input type="text" class="form-control border-right-0" placeholder="Search">
                  <div class="input-group-append">
                      <button class="btn border border-left-0" onclick=" relocate_home()" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </div>
          <div class="navbar-collapse w-100 order-1">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown icon-01">
                      <a class="nav-link mt-2" href="wishlist.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="img-fluid d-block" src="assets/bower_components/index/assets/img/icon/heart-w.png" onmouseover="this.src='assets/bower_components/index/assets/img/icon/heart.png';" onmouseout="this.src='assets/bower_components/index/assets/img/icon/heart-w.png';" width="30">
                      </a>

                  </li>
                  <li class="nav-item dropdown icon-01">
                      <a class="nav-link mt-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="img-fluid d-block" src="assets/bower_components/index/assets/img/icon/en.png" onmouseover="this.src='assets/bower_components/index/assets/img/icon/en2.png';" onmouseout="this.src='assets/bower_components/index/assets/img/icon/en.png';" width="30">
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left:-60px;">
                          <span class="dropdown-menu-arrow"></span>
                          <a class="dropdown-item" href="#">ภาษาไทย</a>

                      </div>
                  </li>
                  <li class="nav-item dropdown icon-01">
                      <a class="nav-link mt-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="img-fluid d-block" src="assets/bower_components/index/assets/img/icon/information01.png" onmouseover="this.src='assets/bower_components/index/assets/img/icon/information02.png';" onmouseout="this.src='assets/bower_components/index/assets/img/icon/information01.png';" width="30">
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left:-60px;">
                          <span class="dropdown-menu-arrow"></span>
                          <a class="dropdown-item" href="#">FAQ <i class="fa fa-angle-right"></i></a>
                          <a class="dropdown-item" href="#">Store Locator <i class="fa fa-angle-right"></i></a>
                      </div>
                  </li>
                  <li class="nav-item dropdown icon-01">
                      <a class="nav-link mt-2" href="#" id="navbarDropdown" role="button" data-toggle="modal" data-target="#myModal" aria-haspopup="true" aria-expanded="false">
                          <img class="img-fluid d-block" src="assets/bower_components/index/assets/img/icon/cart.png" onmouseover="this.src='assets/bower_components/index/assets/img/icon/cart.png';" onmouseout="this.src='assets/bower_components/index/assets/img/icon/cart.png';" width="30">
                      </a>

                  </li>
                  <li class="nav-item icon-03">
                      <a class="nav-link mt-2 bordermenu p-4" href="#"></a>
                  </li>
                  <li class="nav-item icon-04 dropdown">
                      <a class="nav-link mt-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid d-block" src="assets/bower_components/index/assets/img/icon/icon-b.png" width="30"></a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left:-80px;">
                          <span class="dropdown-menu-arrow"></span>
                          <a class="dropdown-item text-center" href="#">
                              <h3><strong style="color: rgb(0, 133, 44);">REWARD$</strong></h3>
                              <br>
                              <strong>Earn 10% back on every</strong>
                              <br>
                              <strong>purchase & spend them</strong>
                              <br>
                              <strong>on anything</strong>
                              <br>
                              <span style="text-decoration: underline;">LEARN MORE</span>
                          </a>
                      </div>
                  </li>
                  <li class="nav-item icon-05 dropdown"> <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In / <br> Create Account</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left:-30px;">
                          <span class="dropdown-menu-arrow"></span>
                          <a class="dropdown-item" href="#">Order Status <i class="fa fa-angle-right"></i></a>
                          <a class="dropdown-item" href="#">Sign In/Register <i class="fa fa-angle-right"></i></a>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
      <!--small-->
      <nav id="small" class="navbar navbar-expand-lg navbar-light bg-white p-3">
          <div class="mr-auto">
              <div class="container-toggle" onclick="myFunction(this)" data-toggle="collapse" data-target="#navbar-3-small">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
              </div>
          </div>
          <div class="mx-auto order-0">
              <a class="navbar-brand logo" href=""><img class="d-block" src="assets/bower_components/index/img/tank-store.png" width="200"></a>
          </div>
          <div class="ml-auto">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link mt-2" href="#"><img class="img-fluid d-block" src="assets/bower_components/index/assets/img/icon/cart.png" width="30"></a>
                  </li>
              </ul>
          </div>
          <br>
          <div class="mx-auto order-0 w-100">
              <div class="input-group" id="search-1">
                  <input type="text" class="form-control border-right-0" placeholder="Search">
                  <div class="input-group-append">
                      <button class="btn border border-left-0" type="submit"><i class="fa fa-search" style="color: #fff;"></i></button>
                  </div>
              </div>
          </div>
      </nav>

      <!--===================================================-->
      <!--|            SESSION - 3 - NAVBAR 03              |-->
      <!--===================================================-->
      <div  id="navbar-3" class="navbar-3 main-menu" style="display: block;">


          <!--===================================================-->
          <!--|                     Menu 1                      |-->
          <!--===================================================-->
          <div *ngFor="let menuLev1 of mMenuLev1"  id="dropdown-3" class="name-menu">
              <a href="javascript:void(0)" id="dropbtn-3" style="text-align: center;">{{ menuLev1.XVMenuName_Th }}</a>
              <div id="dropdown-content-3" class="sub-menu">
                  <div class="row mt-3">
                      
                    <ng-container *ngFor="let menuLev2 of mMenuLev2" >
                      <div *ngIf="menuLev2.XVMenuLevel == 2 &&  menuLev2.XVMenuParent_Id == menuLev1.XIMenuId"  class="col col1 px-5">
                          <a  href="brand.html" class="link-dark"><b>{{ menuLev2.XVMenuName_Th }}</b></a>
                          <br>
                          <hr class="header-line">
                          <ng-container *ngIf="menuLev2.XVMenuLevel == 3 && menuLev2.XVMenuParent_Id == menuLev1.XIMenuId" >
                                <a href="#" class="link-dark">{{ menuLev2.XVMenuName_Th }}</a>
                                <br>
                          </ng-container>
                          
                          
                      </div>
                    </ng-container>
                      <!-- <div class="subnav-footer mt-5">
                          <a href="#"><strong style="color: rgb(255, 28, 28)!important;">30% BACK in REWARDS</strong> -  Get 30% Back in Moosejaw Reward Dollars with Code    MJ30</a>
                      </div> -->
                  </div>
              </div>
          </div>
          
      </div>
  </div>
  <!--===================================================-->
  <!--|     SESSION - 3 - NAVBAR 03 (FOR RESPONSIVE)     |-->
  <!--===================================================-->
  <!-- <ul class="nav flex-column px-4 collapse" id="navbar-3-small">
      <li class="nav-item border-bottom"><a class="nav-link text-dark pt-3" href="javascript:void(0)"><h6><strong>SIGN IN / CREATE ACCOUNT</strong></h6></a></li>
      <li class="nav-item border-bottom"><a class="nav-link text-dark pt-3" href="javascript:void(0)"><h6><strong>ORDER STATUS <i class="fa fa-angle-right"></i> </strong></h6></a></li>
      <li class="nav-item border-bottom"><a class="nav-link text-dark pt-3" href="javascript:void(0)" id="HELP"><h6><strong>HELP</strong></h6></a>
          <ul class="nav flex-column" id="content-HELP" style="display: none;">
              <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Chat <i class="fa fa-angle-right"></i></a></li>
              <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Leave Feedback <i class="fa fa-angle-right"></i></a></li>
              <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Rewards Program <i class="fa fa-angle-right"></i></a></li>
              <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Shipping <i class="fa fa-angle-right"></i></a></li>
              <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Lifetime Returns <i class="fa fa-angle-right"></i></a></li>
              <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Store Locator <i class="fa fa-angle-right"></i></a></li>
              <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Gift Cards <i class="fa fa-angle-right"></i></a></li>
              <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">877-MOOSEJAW <i class="fa fa-angle-right"></i></a></li>
          </ul>
      </li> -->
      <!--===================================================-->
      <!--|                     Menu 1                      |-->
      <!--===================================================-->
      <!-- <li class="nav-item border-bottom"><a class="nav-link text-dark pt-3" href="javascript:void(0)" id="BRANDS"><h6><strong>BRANDS</strong></h6></a>
          <ul class="nav flex-column" id="content-BRANDS" style="display: none;">
              <li class="nav-item ml-4 py-1 border-bottom"><a class="text-dark" href="javascript:void(0)" id="BRANDS-01"># - C </a>
                  <ul class="nav flex-column" id="content-BRANDS-01" style="display: none;">
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Adidas </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Arc'teryx </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Asolo </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Black Diamond </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Burton </a></li>
                  </ul>
              </li>
              <li class="nav-item ml-4 py-1 border-bottom"><a class="text-dark" href="javascript:void(0)" id="BRANDS-02">D - J </a>
                  <ul class="nav flex-column" id="content-BRANDS-02" style="display: none;">
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Adidas </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Arc'teryx </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Asolo </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Black Diamond </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Burton </a></li>
                  </ul>
              </li>
              <li class="nav-item ml-4 py-1 border-bottom"><a class="text-dark" href="javascript:void(0)" id="BRANDS-03">K - N </a>
                  <ul class="nav flex-column" id="content-BRANDS-03" style="display: none;">
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Adidas </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Arc'teryx </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Asolo </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Black Diamond </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Burton </a></li>
                  </ul>
              </li>
              <li class="nav-item ml-4 py-1 border-bottom"><a class="text-dark" href="javascript:void(0)" id="BRANDS-04">O - R </a>
                  <ul class="nav flex-column" id="content-BRANDS-04" style="display: none;">
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Adidas </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Arc'teryx </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Asolo </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Black Diamond </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Burton </a></li>
                  </ul>
              </li>
              <li class="nav-item ml-4 py-1 border-bottom"><a class="text-dark" href="javascript:void(0)" id="BRANDS-05">S - Z </a>
                  <ul class="nav flex-column" id="content-BRANDS-05" style="display: none;">
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Adidas </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Arc'teryx </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Asolo </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Black Diamond </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Burton </a></li>
                  </ul>
              </li>
              <li class="nav-item ml-4 py-1 border-bottom"><a class="text-dark" href="javascript:void(0)" id="BRANDS-06">Shop ALL Brands </a>
                  <ul class="nav flex-column" id="content-BRANDS-06" style="display: none;">
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Adidas </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Arc'teryx </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Asolo </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Black Diamond </a></li>
                      <li class="nav-item ml-4 py-1"><a class="text-dark" href="javascript:void(0)">Burton </a></li>
                  </ul>
              </li>
          </ul>
      </li> -->
      <!--===================================================-->
      
  <!-- </ul> -->