<!--===================================================-->
<!--|              slide                              |-->
<!--===================================================-->

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
  <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <a href="#">

              <picture>
                  <source srcset="assets/bower_components/img/slide_img/banner.jpg" media="(min-width: 1400px)">
                  <!--1920x640px-->
                  <source srcset="assets/bower_components/img/slide_img/s-01.jpg" media="(min-width: 769px)">
                  <!--1400x500px-->
                  <source srcset="assets/bower_components/img/slide_img/s-85-01.jpg" media="(min-width: 577px)">
                  <!--800x500px-->
                  <img srcset="assets/bower_components/img/slide_img/s-65-01.jpg" alt="responsive image" class="d-block img-fluid">
                  <!--600x500px-->
              </picture>

          </a>
      </div>
      <!-- /.carousel-item -->
      <div class="carousel-item">
          <a href="#">
              <picture>
                  <source srcset="assets/bower_components/img/slide_img/slide_apr19.jpg" media="(min-width: 1400px)">
                  <!--1920x640px-->
                  <source srcset="assets/bower_components/img/slide_img/s-02.jpg" media="(min-width: 769px)">
                  <!--1400x500px-->
                  <source srcset="assets/bower_components/img/slide_img/s-85-02.jpg" media="(min-width: 577px)">
                  <!--800x500px-->
                  <img srcset="assets/bower_components/img/slide_img/s-65-03.jpg" alt="responsive image" class="d-block img-fluid">
                  <!--600x500px-->
              </picture>

          </a>
      </div>
      <!-- /.carousel-item -->
      <div class="carousel-item">
          <a href="#">
              <picture>
                  <source srcset="assets/bower_components/img/slide_img/slide_apr12.jpg" media="(min-width: 1400px)">
                  <!--1920x640px-->
                  <source srcset="assets/bower_components/img/slide_img/s-03.jpg" media="(min-width: 769px)">
                  <!--1400x500px-->
                  <source srcset="assets/bower_components/img/slide_img/s-85-03.jpg" media="(min-width: 577px)">
                  <!--800x500px-->
                  <img srcset="assets/bower_components/img/slide_img/s-65-02.jpg" alt="responsive image" class="d-block img-fluid">
                  <!--600x500px-->
              </picture>

          </a>
      </div>
      <!-- /.carousel-item -->
  </div>
  <!-- /.carousel-inner -->
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>
<!-- /.carousel -->
<!-- /.container -->

<!--===================================================-->
<!--|              END slide                          |-->
<!--===================================================-->