
<!--===================================================-->
<!--|            CONTENT                              |-->
<!--===================================================-->

<section class=" bg-img bg-overlay show-on-device">
  <!-- style="background-image: url();" -->
</section>
<!-- ##### CTA Area End ##### -->
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
  <div class="brand">
      <ul class="brand-list">
          <li class="text-left">
              <a href="brand.html">
                  <p>SHOP BY</p>
                  <p>BRAND</p>
              </a>
          </li>
          <li>
              <a href="page-shop.html"><img src="assets/bower_components/img/blog-img/brand1.png" alt=""></a>
          </li>
          <li>
              <a href="page-shop.html"><img src="assets/bower_components/img/blog-img/brand2.png" alt=""></a>
          </li>
          <li>
              <a href="page-shop.html"><img src="assets/bower_components/img/blog-img/brand3.png" alt=""></a>
          </li>
          <li>
              <a href="page-shop.html"><img src="assets/bower_components/img/blog-img/brand4.png" alt=""></a>
          </li>
          <li>
              <a href="page-shop.html"><img src="assets/bower_components/img/blog-img/brand5.png" alt=""></a>
          </li>
          <li>
              <a href="page-shop.html"><img src="assets/bower_components/img/blog-img/brand6.png" alt=""></a>
          </li>
          <li class="text-right ">
              <a href="brand.html">
                  <p>SEE ALL</p>
              </a>
          </li>
      </ul>
  </div>
</section>

<div class="py-2 ">
  <div class="container">
      <div class="row">
          <div class="col-md-6 p-2 col-6"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_01.jpg"></a></div>
          <div class="col-md-6 p-2 col-6"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_02.jpg"></a></div>
          <div class="col-md-6 p-2 col-6"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_01.jpg"></a></div>
          <div class="col-md-6 p-2 col-6"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_02.jpg"></a></div>
      </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
      <div class="row">
          <div class="p-2 col-6 col-md-4"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_03.jpg"></a></div>
          <div class="p-2 col-6 col-md-4"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_04.jpg"></a></div>
          <div class="p-2 col-6 col-md-4"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_05.jpg"></a></div>
          <div class="p-2 col-6 col-md-4"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_06.jpg"></a></div>
          <div class="p-2 col-6 col-md-4"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_07.jpg"></a></div>
          <div class="p-2 col-6 col-md-4"><a href="#"><img class="img-fluid d-block" src="assets/bower_components/img/dummy_08.jpg"></a></div>
      </div>
  </div>
</div>

<div class="py-5" style="background-color: #4a5a4838;
  padding-bottom: 15px;">
  <div class="container ">

      <h1 style="text-align: center;">Inside Our Instragram</h1>
      <p class="page-description text-center">Fluid Layout With Overlay Effect</p>

      <div class="row">

          <div class="col-md-4 p-2 col-6">
              <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/bridge.jpg">
                  <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/bridge.jpg" alt="Bridge">
              </a>
          </div>
          <div class="col-md-4 p-2 col-6">
              <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/park.jpg">
                  <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/park.jpg" alt="Park">
              </a>
          </div>
          <div class="col-md-4 p-2 col-6">
              <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/tunnel.jpg">
                  <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/tunnel.jpg" alt="Tunnel">
              </a>
          </div>
          <div class="col-md-4 p-2 col-6">
              <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/traffic.jpg">
                  <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/traffic.jpg" alt="Traffic">
              </a>
          </div>
          <div class="col-md-4 p-2 col-6">
              <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/rails.jpg">
                  <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/rails.jpg" alt="Coast">
              </a>
          </div>
          <div class="col-md-4 p-2 col-6">
              <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg">
                  <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg" alt="Rails">
              </a>
          </div>

      </div>
  </div>
</div>

<!-- ##### Top Catagory Area End ##### -->
<!-- ##### Top Catagory Area Start ##### -->
<section class="py-3">
  <div class="single-ticker-area">
      <marquee SCROLLAMOUNT=12><span>This text will scroll from right to left</span>
          <!-- <span >This text will scroll from right to left</span>  -->
      </marquee>
  </div>
</section>

<!--===================================================-->
<!--|           END CONTENT                           |-->
<!--===================================================-->